

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.navBar{
  padding-left: 200px;
  padding-right: 80px;
  padding-bottom: 0px;
  padding-top: 0px;
  overflow: hidden;
  border-bottom: 1px solid;

}

li.tab{
  float: right;
  display: inline;
  padding: 30px;
  padding-bottom: 20px;
  font-family: 'Raleway';
}

li.title{
  float: left;
  font-size: xx-large;
  display: inline;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Satisfy';
}
li.title a{
  color: green;
  vertical-align: top;
  
}

li.tab a{
  color: rgb(20, 27, 33);
}

li.tab:hover{
  background-color: rgb(243, 243, 243);
  
}

.title{
  color: rgb(95, 177, 75);
  -webkit-text-stroke: 0.7px rgb(95, 177, 75);
}


.header a {
  float: left;
  text-align: center;
  color: black;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 30px;
}

.header a:hover {
  text-decoration: none;
  color: rgb(223, 73, 47);
}

.header-right {
  float: right;
}

.header-right a:hover {
  background-color: rgb(243, 243, 243);
  color:black;
  text-decoration: none;
}
